header
  .header-position
    h1.logo Jessie Zhu

    nav.site-nav
      ul
        li
          a(href="#about") About
        li
          a(href="#youtube") Youtube
        li
          a(href="#mentoring") Mentoring
        li
          a(href="#articles") Articles  
        li
          a(href="#vines") Vines
        li
          a(href="#design") Design
        li
          a(href="#notes") Notes
        li
          a(href="#podcasts") Podcasts
    
    a(href="mailto:yudianzhu10@hotmail.com").email-link +email me
